[Unit]
Description=Telegram bot %name%
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot  # or other path
ExecStart=/usr/bin/python3 /usr/local/bin/bot/bot.py  # or other path
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target